---
import ToggleTheme from "./toggle-theme.astro";
import NavBtn from "./nav-btn.astro";

---

<header class="header">
  <div class="header__container container">
    <div class="logo">
      <a class="self-center" style="margin-right: 1em;" href="/videot4pe/">
        Garanya
        <!-- <img src={logo} alt="" /> -->
      </a>
      <ToggleTheme class="self-center" />
    </div>
    <nav>
      <ul>
        <li>
          <NavBtn href="/videot4pe/music">Music</NavBtn>
        </li>
        <li>
          <NavBtn href="/videot4pe/blog">Blog</NavBtn>
        </li>
        <li>
          <NavBtn href="/videot4pe/about">About</NavBtn>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style lang="scss">
  .header {
    box-shadow: 0 5px 15px rgb(0 0 0 / 0.2);

    z-index: 1000;

    position: sticky;
    top: 20px;

    max-width: 1280px;
    margin: 0 auto; 

    height: 60px;

    padding: 0 20px;
    border-radius: 35px;

    &__container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .header img {
    height: 35px;
    vertical-align: middle;
  }

  .header nav ul {
    display: flex;
    list-style: none;
  }

  .header nav ul li {
    padding: 0 10px;
  }

  .header a {
    color: var(--text-100);
    text-decoration: none;
  }

  .logo {
    display: flex;
  }
</style>